.menu-bar-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.5);
}

.menu-bar-logo{
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.menu-bar-item{
    display: flex;
    margin: auto;
    align-items: center;
}

.menu-bar-item ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 2rem;
}

.menu-bar-item > ul > li > a{
    text-decoration: none;
    padding: 0.5rem;
    color: rgb(7,7,7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar-item > ul > li > a:hover{
    color:  blue;
    font-weight: bold;
}